@use "../../constants.scss" as COLOR;

.item-price {
  border: 1px solid white;
  color: white;
  display: flex;
  max-width: 1342px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}
