@use "../../../constants.scss" as COLOR;

.top-header {
  background-color: COLOR.$RAISIN_BLACK;
  width: 100%;
  height: 46px;
  .top-header__wrapper {
    max-width: 1342px;
    height: 46px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img {
      width: 31px;
      height: 31px;
    }
  }
}
